<!DOCTYPE hmtl>
<html>
    <head>
        <meta charset="utf8" />
        <meta name="descripition" content="Learning about Django"/>
        <title>Courses</title>
        
        {% load static %}
        <link rel="stylesheet" href={% static "first_app/css/index.css"  %}></link>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src={% static "first_app/js/index.js"  %}></script> 
        <style>
            label {
                   margin:20px;
                   margin-left:0px;
                   vertical-align:top;
            }
            input {
                margin-left:40px;
                margin-bottom:10px;
            }                   
        </style>
       
    </head>
    <body>
        <div id="container"> 
            <div id="show_product" >
           
                <h4>Product {{post.name}}</h4>
                <h4>User who added thie product/itmeusder their wish list</h4>
                    {% for user in post.wished.all %}
                        <p>{{user.first_name}}</p>
                    {% endfor %}               
                
            </div>          
            <a href="{% url 'dashboard:home' %}">Home</a>   |      <a href="{% url 'home:logout' %}">Logout</a>      
        </div>
    </body>
</html>
